---
layout: layout.njk
title: Archive
permalink: /archive/index.html
---
<section class="home-intro">
  <h1>Archive</h1>
  <p>這裡收錄除了首頁最近 20 篇之外的所有文章。</p>
</section>

<section>
  <ul class="post-list">
    {% for post in collections.archivedPosts %}
      <li>
        <a href="{{ post.url }}" class="post-link">{{ post.data.title }}</a>
        <p class="post-list-meta">
          <time datetime="{{ (post.data.date or post.date) }}">{{ (post.data.date or post.date) | readableDate }}</time>
          <span>{{ post.data.source }}</span>
        </p>
      </li>
    {% endfor %}
  </ul>
</section>
